#groupings {
    position: relative;
    height: 80vh;
}

#groupings img {
    position: absolute;
    bottom: 0;
    width: 60%;
    height: auto;
}

#groupings .content {
    position: absolute;
    max-width: 500px;
    margin-left: 50%;
}

@media only screen and (max-width: 1200px) {
    #groupings img {
        width: 75%;
    }
}

@media only screen and (max-width: 600px) {
    #groupings img {
        width: 100%;
    }
}