#planets {
    height: 100vh;
    padding-top: 50vh;
}


@media only screen and (max-width: 1200px) {
    #planets {
        height: 75vh;
    }
  }


@media only screen and (max-width: 600px) {
    #planets {
        height: 50vh;
    }
  }