.circlePackingContainer {
    transform: rotate(90deg);
    margin: 0 auto;
    width: 50%;
}

.circlePackingContainer svg text {
    font: "10px sans-serif",
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
    /* CSS */
    
  }
  
  @media (max-width: 1024px) {
    
    .circlePackingContainer {
        width: 100%;
    }
  }